.review-wrap {
    padding-top: 20px;
}

.review-info-wrap {
    padding-left: 30px;
}



.review-card-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.review-date {
    font-weight: 600;
    color: #0A8672;
    font-size: 16px;
}

.review-info {
    display: flex;
    padding: 7px 0px;
    align-items: center;
}

.review-store-title {
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}

.review-store-address {
    color: #A7A7A9;
    font-size: 14px;
}