.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 8px 0;
    border-top: 1px solid #ddd;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #999;
    font-size: 12px;
}

.footer-item .icon {
    object-fit: contain;
    transition: opacity 0.3s ease;
    margin-bottom: 7px;
}

.footer-item.active {
    color: #333;
    font-weight: bold;
}

.footer-item.active .icon {
    opacity: 1;
}