.detail-container {
  width: 100%;
  height: 183px;

  margin: 0 0 0 -15px;
}

.swiper-container {
  position: relative;
}

.slide-img {
  position: relative;
  object-fit: contain;
}

.img-div {
  height: 162px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.slide-img img {
  width: 100%;
  height: 162px;
  object-fit: cover;
}

/* 북마크 버튼 스타일 */
.bookmark-button {
  position: absolute;
  top: -6.4px;
  right: 12px;
  border: none;

  width: 45px;
  height: 50px;
  cursor: pointer;

  padding: 0;
  background-color: transparent;
  z-index: 10;
}

.bookmark-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  max-height: 37px;
}

/* 정보 래퍼 스타일 */
.info-wrapper {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 5;
}

.location-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.location-info {
  color: white !important;
}

.distance-info {
  font-size: 10px !important;
  color: white !important;
}

.distance {
  font-size: 18px !important;
  font-weight: 500;
    color: white !important;
}

.image-name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
    font-size: 23px !important;
    color: white !important;
}