.sheet-closed-container {
  display: flex;
  flex-direction: column;
  align-items: left;

  text-align: left;
  /* gap: 16px; */

}

/* .sheet-closed-container span {
  font-size: 17px;
  font-weight: 500;
}

.sheet-closed-container p {
  font-size: 17px;
  font-weight: 500;
} */

.closed-title {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 700;
}