.bottom-sheet-header {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 10px;
  background-color: transparent;
}


.sheet-title-wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
}

.sheet-name {
  font-size: 20px;
  font-weight: 1000;
}

.bottom-sheet-header>span {
  font-size: 14px;
  color: #666;
}

.sheet-line {
  height: 1.5px;
  width: 100%;

  background-color: #E4DDDD;
}