.custom-marker {
  position: relative;
  width: 24px;
  height: 24px;
}

/* .marker-pin {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
} */